APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_LOG_PATH=storage/logs/api.log

MONGO_URI=mongodb+srv://ruimeskuita_db_user:<db_password>@cluster0.q338oqb.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=contaqua_meter

ADMIN_TOKEN=change_me_admin_token
